@import "custom_anim.scss";
@import "custom_reusable.scss";
@import "./fonts/Fonts-collection.scss";



$purple_shadow: hsl(310, 100%, 50%);

.backgroundimg {
    background-image: url(../img/background.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top;
    z-index: 0;
    width: 100%;
    height: 90%;
    position: absolute;
    mask-image: linear-gradient(to top, transparent 0%, black 70%);
}
.title-backgroundimg {
    background-image: url(../img/title-background1.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 40%;
    position: absolute;
    mask-image: linear-gradient(to top, transparent 30%, black 70%);
}

.App {
    position: relative;
    height: 100vh;
    //background: linear-gradient(to bottom right, rgb(66, 66, 66), rgb(243, 38, 133));
    width: 100vw;
    overflow: scroll;
    text-overflow: clip;
    white-space: nowrap;
    background: linear-gradient(-45deg, #e079ff, #e73c7e, #9b0074, #e079ff);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.topcontent {
    position: fixed;
    z-index: 3;
    width: 100%;
    height: 30px;

    .topbar {
        height: 100%;
        width: 100%;
        background-color: rgb(179, 236, 22);
        z-index: 3;
        display: inline-flex;
        .sidebarhide {

            color: white;
            display: inline-block;
            margin: 10px 10px 0 10px;
            padding: 3px 3px 3px 13px;
            border-radius: 50%;
            text-align: center;
            cursor: pointer;
            height: 30px;
            width: 30px;

            &:active {
                background-color: rgb(195, 236, 154);
            }

            >p {

                display: table-cell;
                vertical-align: middle;
                text-align: center;


                &,
                &:hover,
                &:active {
                    text-decoration: none;
                }
            }

        }
    }
}


.rotate180deg {
    transform: rotate(180deg);
}


.sidecontent {
    z-index: 2;
    position: fixed;
    width: 130px;
    height: 100vh;
    transform: translate(0, 30px);
    background-color: rgb(36, 36, 36);
    box-shadow: 7px 0px 16px $purple_shadow;
    color: black;
    transition: all 0.5s;
}

.sidecontent_closed {
    
    transform: translate(-120px, 30px);
    box-shadow: 0px 0px 0px hsl(0, 0%, 100%);
    opacity: 10%;
}

.maincontent {
    padding: 30px 0 0 0;
    margin-left: auto;
    color: white;
    height: 100%;
    transition: all 0.5s;

   
}

.maincontent_active {
    padding-left:130px;
}

.content{
    height:100%;
    width:100%;
}
.pages {
    transition: all 0.5s;
    height:90%;
    position: relative;
    padding: 20px 0 0 50px ;
}

.homepagetitle {
    text-align: center;
    left: 50%;
    right: auto;
    padding-top:5%;
    overflow: hidden;


    h1 {
        color: rgb(16, 206, 240);
        font-family: 'Alien Encounter';
        opacity: 0.8;
        box-shadow: 0px 0px 0px yellow;
       font-size: 60px;


    }
    #shadw{
        color: yellow!important;
        transform:translate(0,-120%);
    }
}

.flex-cards{
    display: flex;
    flex-direction: row;
}
.profile-cards{
    overflow: hidden;
    white-space:normal;
    padding:20px 10px 10px 0px;
    width:250px;
    h4{
        margin-bottom: 5px;
        background-color:rgb(79, 79, 138);
    }
    h5{
        margin-bottom:4px;
        font-size: 19px;
        background-color:rgba(112, 112, 255,0.3);
      
    }
    h6{
        font-size: 13px;
        margin:0;
    }
    p{
        text-indent: 8px;
        margin-top:5px;
        font-size: 12px;
        margin-bottom: 0px;
    }
}


.container {
    padding-top: 20px;
    margin-left: 0px;
}

.sidebar {
    position: relative;
    padding: 5px 0px 0 0px;
    margin: 0px;
    color: white !important;

    a {
        text-decoration: none !important;
        color: white !important;
    }
}

.sidebar ul {
    list-style-type: none;
    padding: 0px;
}

.sidebar ul>li {
    border-bottom: white solid 2px;
    padding: 5px 0px 5px 10px;
    transition: all 1s;
}

.sidebar ul>li:hover {
    border-bottom: rgb(255, 0, 212) solid 2px;
    border-radius: 1px;
    cursor: pointer;
}

.footerbar {
    position: absolute;
    bottom: 0;
    background-color: rgba(59, 59, 59, 0.4);
    width: 100%;
    transition: all 0.5s;
}

.footerbar_active {
    padding: 0 0 0 130px;
}

.tabs {
    display: inline-block;
    padding: 3px 10px 3px 10px;
    cursor: pointer;

}

.tabs:hover {
    background-color: aquamarine;
    border: black;
}


.fade-enter {
    opacity: 0;
    transform: translateX(-100%);
}

.fade-enter-active {
    opacity: 1;
    transform: translateX(0%);
}

.fade-exit {
    opacity: 1;
    transform: translateX(0%);
}

.fade-exit-active {
    opacity: 0;
    transform: translateX(100%);
}

.fade-enter-active,
.fade-exit-active {
    transition: opacity 500ms, transform 500ms;
}

.proj_card {
    text-overflow: clip;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    width: 150px;
    height: 150px;
    background-color: rgb(255, 255, 255);
    border-radius: 6px;
    transition: all 0.3s;
    margin: 20px 10px 20px 10px;
    padding: 20px 20px 20px 20px;

    img {
        width: 100%;
        height: 100%;

    }

    >div {
        padding-left: 10px;
        background-color: rgba(119, 119, 119, 0.5);
        width: 100%;
        top: 120%;
        height: 30px;
        position: absolute;
        margin: -25px -20px -20px -20px;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        transition: all 0.3s;
    }

    &:hover {
        box-shadow: 0px 0px 16px $purple_shadow;
        transform: scale(1.04);
        position: relative;
        cursor: pointer;

        >div {
            top: 100%;
        }
    }
}

.tech_card {
    text-overflow: clip;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    width: 150px;
    height: 150px;
    background-color: rgb(252, 252, 252);
    border-radius: 6px;
    transition: all 0.3s;
    margin: 20px 10px 20px 10px;
    padding: 20px 20px 20px 20px;

    img {
        width: 100%;
        height: 100%;
    }

    >div {
        padding-left: 10px;
        background-color: rgba(119, 119, 119, 0.5);
        width: 100%;
        top: 120%;
        height: 30px;
        position: absolute;
        margin: -25px -20px -20px -20px;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        transition: all 0.3s;
    }

    &:hover {
        box-shadow: 0px 0px 16px $purple_shadow;
        transform: scale(1.04);
        position: relative;
        cursor: pointer;

        >div {
            top: 100%;
        }
    }
}
.snekPage{
    padding:30px 0 0 10px;
}

.sneksettings{
    white-space: pre-wrap;
    float: left;
    text-align: center;
    border: red 1px solid;
    width:100px;
    height: auto;
    margin: auto 30px;
    >Button{
        margin:5px 2px 10px 2px;
    }
    >label{
        margin:0;
        left:50%;
    }
}

.snake-area {
    float: left;
    position: relative;
    width: 70vh;
    height: 70vh;
    border: cyan 1px solid;
}

.snake_comp {
    position: absolute;
    width: 2%;
    height: 2%;
    background-color: rgb(60, 193, 255);
    border: rgb(3, 149, 233) 1px solid;
    box-shadow: 0px 0px 4px rgb(126, 251, 255);
}
.snakefood{
    background-color: rgb(210, 255, 9);
    
    box-shadow: 0px 0px 5px rgb(255, 255, 133);
    position: absolute;
    width: 2%;
    height: 2%;

}

.profileheader{
    position: relative;
    margin-bottom: 10px;
    display:inline-block;
    white-space: normal;
    width:90%;
    .profilename{
        float:left;
        h1{
            font-size: 50px;
            margin-bottom: 0;
        }
        overflow: hidden;
        p{
            text-align: right;
        }
    } 
    .contact{
        p{
            font-size: 12px;
            padding-left: 2px;
           
        }
       
        float:right;
        width:20%;
    }
}
a {
    text-decoration: none ;
    color:white !important;
}

a:hover {
    color:rgb(247, 0, 0);
    text-decoration:none;
    cursor:pointer;
}