
.reusablecard{
    margin:20px 20px 20px 20px;
    padding:10px 10px 10px 10px;
    width:100%;

    border: black 2px solid;
    .cardtitle{
        border:rgb(212, 15, 15) 2px solid;
    }
    .cardcontent{
        border:rgb(21, 138, 138) 2px solid;
        iframe{
            width:50%;
            height:auto;
        }

    }
}

.backbutton {
    width: 70px;
    height:30px;
    padding:2px 10px 5px 10px;
    background-color: rgba(212, 14, 123, 0.4);
    color: white; 
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s;
    span {
        margin: 0 5px 0 0px;

    }
    &:hover{
        background-color: rgb(248, 52, 160);
        transform: scale(1.05);

    }
}
.grid{
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 width: calc(100%-30px);
 height :calc(100%-20px);
}
.box{
    margin: 6px 6px 6px 6px;
    width:25%;
    height: 150px;
    border:red 1px solid;

}