.reusablecard {
    margin: 20px 20px 20px 20px;
    padding: 10px 10px 10px 10px;
    width: 100%;

    border: black 2px solid;

    .cardtitle {
        border: rgb(212, 15, 15) 2px solid;
    }

    .cardcontent {
        border: rgb(21, 138, 138) 2px solid;

        iframe {
            width: 50%;
            height: auto;
        }

    }
}

.backbutton {
    width: 70px;
    height: 30px;
    padding: 2px 10px 5px 10px;
    background-color: rgba(212, 14, 123, 0.4);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s;

    span {
        margin: 0 5px 0 0px;

    }

    &:hover {
        background-color: rgb(248, 52, 160);
        transform: scale(1.05);

    }
}

.box {
    padding: 8px 8px;
    width: 90%;
    height: 100%;
    background-color:rgba(5, 5, 5, 0.8);
    border-radius: 6px;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr;
    

    .boxtitle {}

    .boxmedia {
        overflow: scroll;
        overflow-y: unset;
        
        
    }

    .boxcontent {
        white-space: normal;
    }
    ::-webkit-scrollbar {
        width: 6px;
        height:6px;
        }
        
        ::-webkit-scrollbar-track {
        box-shadow: none; 
        border-radius: 10px;
        }
        
        ::-webkit-scrollbar-thumb {
        background:rgb(22, 26, 250); 
        border-radius: 10px;
        
        }
        
        ::-webkit-scrollbar-thumb:hover {
        background:rgb(1, 53, 105); 
        }

}


.grid {
    margin:10px 10px;
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-row-gap: 12px;
}

@media only screen and (min-width:490px) {
    .grid {
        display: grid;
        height: 100%;
        grid-template-columns: 1fr;
    }
}

@media only screen and (min-width:650px) {
    .grid {
        display: grid;
        height: 100%;
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (min-width:950px) {
    .grid {
        display: grid;
        height: 100%;
        grid-template-columns: 1fr 1fr 1fr;
    }
}