@font-face {
    font-family: 'Bebas_neue';
    src: url('./BebasNeue-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Alien Encounter';
    src: url('./Alien-Encounters-Italic.ttf') format('truetype');
}
